.button {
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    cursor: pointer;
}

.functionButton {
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    cursor: pointer;

    background-color: var(--gray);
    color: var(--black);
}

.functionButton:hover {
    background-color: var(--light-gray);
}


.numericButton {
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    font-size: 2rem;

    cursor: pointer;
    background-color: var(--dark-gray);
    color: var(--white);
}

.numericButton:hover {
    background-color: var(--medium-gray);
}


.operatorButton {
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    font-size: 3rem;
}

.operatorButton:hover {
    background-color: var(--light-orange);
}


.specialButton {
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    cursor: pointer;

    width: 100%;
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: left;
    padding-left: 25px;
    background-color: var(--dark-gray);
    color: var(--white);
}

.specialButton:hover {
    background-color: var(--medium-gray);

}