.wrapper {
    width: 97%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}

.container {
    display: grid;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.keysWrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 9px;
}

.keys {
    display: grid;
    color: white;
}

.operators {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}