body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--dark-blue);
  font-weight: 200;
}

.calculatorView {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 385px;
  height: 775px;
  background-color: var(--black);
  border-radius: 70px;
  border: 10px solid var(--dark-gray);

}

.viewport {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70%;
}