@import url('link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* COLORS */
  --white: #fff;
  --gray: #a5a5a5;
  --light-gray: #c4c4c4;
  --medium-gray: #444;
  --dark-gray: #333;
  --light-orange: #ffb657;
  --orange: #ff9d20;
  --dark-blue: #1f2632;
  --black: #000;
}

* {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}